@model UserViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit @Model.Fname @Model.Lname Data</h1>
<br />

<form asp-action="Edit">

    <partial name="Partials/EditPartialView" />

    <input type="submit" value="Save" class="btn btn-primary" />
    <a asp-action="Index" asp-controller="User" class="btn btn-light shadow">Cancel</a>
</form>
@section ValidationScriptSection {
    <partial name="_ValidationScriptsPartial" />
}
